<!-- Jumbotron style for the heading -->
<div class="container pt-4">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Welcome To <%= @country.name%></h1>
          <p class="lead"><%= @country.information%></p>
        </div>
        <div class="col-4">
          <img src="<%= @country.country_image%>" class="img-fluid rounded mx-auto d-block" alt="<%= @country.name%> City">
        </div>
      </div>
    </div>
  </div>
</div>

  
<div class="row">
  <% @country.activities.each do |activity| %>
    <br>
    <div class="col-sm-3 pt-4">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"><%= activity.name %></h2>
          <p class="card-text"><%= activity.notes%></p>
          <button type="button" class="btn btn-warning" class="card-link"><%= link_to 'Read More', activity %></button>
          </div>
      </div>
    </div>
  <% end %>
</div>