<div class="container">
  <br>
  <h2 class="text-warning">Activity: </h2>
  <h5 class="text-info">Name: <%= @activity.name %></h5>
  <h5 class="text-info">Price: £<%= @activity.price%></h5>
  <h2 class="text-warning">Address: </h2>
  <h5 class="text-info"><%= @activity.street_name %></h5>
  <h5 class="text-info"><%= @activity.city %></h5>
  <h5 class="text-info"><%= @activity.zip_code %></h5>
  <h2 class="text-warning">Description: </h2>
  <h5 class="text-info"><%= @activity.notes %></h5>
  <br>


  <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Publish</label>
</div>
</div>
