<div class="container">
  <br>
  <h2 class="text-warning">Activity: </h2>
  <h5 class="text-info">Name: <%= @activity.name %></h5>
  <h5 class="text-info">Price: £<%= @activity.price%></h5>
  <h2 class="text-warning">Address: </h2>
  <h5 class="text-info"><%= @activity.street_name %></h5>
  <h5 class="text-info"><%= @activity.city %></h5>
  <h5 class="text-info"><%= @activity.zip_code %></h5>
  <br>
  <h2 class="text-success">What others are saying:</h2>
  <h5 class="text-danger">Review: <%= @activity.review %></h5>
  <h5 class="text-danger">Rating: <%= @activity.rating %></h5>
  <h5 class="text-danger">Notes: <%= @activity.notes %></h5>
  <h5 class="text-danger">Tips: <%= @activity.tips %></h5>
  <br>
  <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Publish</label>
</div>
</div>
